services:
  # ------------------------------------------------------------------
  # 1. PostgreSQL Database
  # ------------------------------------------------------------------
  postgres:
      container_name: PostgreSQL
      networks:
        - olympus_network
      image: postgres:latest
      ports:
        - "${POSTGRES_PORT}:5432"
      volumes:
        - ./data/postgres:/var/lib/postgresql
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      restart: always
      healthcheck:
        test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
        interval: 5s
        timeout: 5s
        retries: 3

  # ------------------------------------------------------------------
  # 2. Frontend
  # ------------------------------------------------------------------
  frontend:
    container_name: Frontend
    networks:
      - olympus_network
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "${FRONTEND_PORT}:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules    
    env_file:
      - ./.env
    depends_on:
      postgres:
        condition: service_healthy
    restart: always

  # ------------------------------------------------------------------
  # 3. Backend
  # ------------------------------------------------------------------
  backend:
    container_name: Backend
    networks:
      - olympus_network
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      - ./backend/src:/app/src
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    depends_on:
      postgres:
        condition: service_healthy
    restart: always

networks:
  olympus_network: