@import "tailwindcss";


@theme {
  --color-layout-bg: #f5f7f9;
  --color-searchfield: #ebedee;
  --color-icons: #999b9f;
  --color-border: #e4e6e5;
  --color-text-primary: #37384c;
  --color-text-secondary: #75797c;
}

:root {
  --jbcolor: #e51ec4;
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
  --background: #f0f0f0;
  --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
